r#"<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/mini-dark.min.css">
	<link rel="stylesheet" href="/snackbar.css">
	<script src="/clipboard.js"></script>
	<style>
		:root {{
			--pre-color: #FFA000;
		}}
	</style>
</head>
<body>
	<header>
		<a href="index.html" class="logo">pastepin</a>
		<a href="browse.html" class="button">browse</a>
		<button onclick="copyToClipboard('content')">Copy to clipboard</button>
	</header>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm col-md col-lg-8 col-lg-offset-2">
				<pre id="content">{}</pre>
				<div id="snackbar">Some text some message..</div>
			</div>
		</div>
	</div>
</body>
</html>
"#